// Media queries
$media-phone-landscape: "screen and (max-width: 767px)"; // 480-767 (large phones included, ipad vertical - not)

// Main vars
$font-base: "Open Sans", Arial, sans-serif;
$font-size-base: 13px;
//$line-height-base: (12/12);
$color-text: #000;
$color-bg: rgba(69,141,197,1);
